<div class="login-container">
    <form class="login-container-form" [formGroup]="form" (ngSubmit)="logUser(form.value)">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <button mat-raised-button color="primary" class="login-container-form-submit-btn" [disabled]="!form.valid" type="submit">Login</button>
        <span class="login-container-form-signup-link">You don't have an account? <a routerLink="/signup">Sign Up</a></span>
        <div *ngIf="(errorMessage$ | async) as error" class="login-container-form-error">
            <span>{{ error }}</span>
        </div>
        <div *ngIf="!(invalidSubmitForm$ | async)">
            Fields are invalid
        </div>
    </form>
</div>