<div class="header-container">
    <nav class="header-container-nav">
        <button mat-button class="header-container-nav-item"><a routerLink="/bankaccount/accounts" routerLinkActive="header-container-nav-active-item">CONSULT</a></button>
        <button mat-button class="header-container-nav-item"><a routerLink="/bankaccount/manage" routerLinkActive="header-container-nav-active-item">MANAGE</a></button>
        <button mat-button class="header-container-nav-item-right" (click)="logOut()"><a>LOG OUT</a></button>
    </nav>
</div>